*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  background-color:#3CEAF0;
}

.Clock{
  position: relative;
  margin: 5vh auto;
  width: 50vh;
  height: 50vh;
  border: solid 2px #A3943C;
  border-radius: 50%;
  background-color: #F0DA62;
}

.timer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.timer p{
 font-size: 5vh;
 line-height: 150%;
}

.timeMenagment{
  text-align: center;
}
button{
  width: 13vh;
  font-size: 5vh;
  margin: 10px 20px;
  background-color: #F054BD;
}
button:hover{
  background-color: #189FA3;
}

.title{
  font-size: 4vh;
}